body {
    background-color: lightblue !important; /* Deve deixar o fundo da página azul claro */
    color: navy !important; /* Deve deixar o texto principal azul escuro */
}

h1 {
    color: red !important; /* Deve deixar o título H1 vermelho */
}